@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Lato:ital,wght@0,300;1,300&family=Roboto+Slab:wght@200&display=swap');

/* Site-wide general styles */

body {
  background-color: #f9f9f9;
  font-family: 'Lato', sans-serif;
  color: hsl(0, 0%, 20%);
}

/* Buttons */

.pillbox-button {
  cursor: pointer;
  color: hsl(0, 0%, 30%);
  margin: 0.5rem;
  padding: 5px 20px;
  border: 1.5px solid hsl(0, 0%, 30%);
  border-radius: 20px;
  background-color: hsl(0, 0%, 95%);
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  width: 120px;
}

.pillbox-button:hover  {
  color: black;
  background-color: white;
  border-color: black;
}

/* UI buttons */

.ui-button {
  background-size: 99%;
  /*background-size: contain;*/
  /* Note to self - background-size: contain sometimes still cropping the edit button background image, but not all the time. Buggy? Not sure why. */
  background-repeat: no-repeat;
  flex-shrink: 0;
  border: none;
}

.delete-button {
  background-image: url('./resources/icons/pixel-perfect/016-crossed.svg');
  height: 15px;
  width: 15px;
  margin-right: 9px;
}

.edit-button {
  background-image: url('./resources/icons/pixel-perfect/053-edit.svg');
  height: 13px;
  width: 13px;
}

.done-button {
  background-image: url('./resources/icons/pixel-perfect/007-check.svg');
  height: 16px;
  width: 16px;
  margin-left: 9px;
  margin-top: 4px;
}

.add-button {
  height: 20px;
  width: 20px;
  background-image: url('./resources/icons/pixel-perfect/057-plus.svg');
  margin-right: 9px;
  margin-left: 9px;
}

.undo-button {
  height: 19px;
  width: 19px;
  background-image: url('./resources/icons/uicons/fi-rr-undo.svg');
}

/* Text styles and sizing */


h1 {
  font-family: 'Antonio', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.2rem;
  margin-top: 0;
}

h3 {
  font-size: 1.8rem;
  margin: 15px 0;
}

h4 {
  font-size: 1.1rem;
  margin: 1rem 0 0.5rem 0;
}

h5 {
  font-size: 1rem;
  margin: 0.6rem 0;
}

p, figcaption, label, button, input[type=text], input[type=email], textarea, li , select, option {
  font-size: 1rem;
  color: black;
}

select, option {
  font-size: 0.85rem;
}

.bolder, .item-name {
  font-weight: bolder;
}

.lighter-weight {
  font-weight: lighter;
}

/* Header */

.website-name {
  display: flex;
  justify-content: center;
}

header a {
  text-decoration: none;
  color: hsl(0, 0%, 20%);
}

/* Navigation bar */

nav {
  font-family: 'Roboto Slab', serif;
}

nav a, nav li {
  font-size: 1.3rem;
  text-decoration: none;
  color: hsl(0, 0%, 20%);
}

nav li {
  list-style-type: none; /* Remove bullets */
  margin: 0; /* Remove margins */
}

#sticky-nav {
  padding: 0.6em 0;
  margin: 0; /* Remove margins */
  text-align: center;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  z-index: 99;
  background-color: #f9f9f9;
}
/* Note to future Mel - you solved the sticky problem by taking the nav element out of the header and putting it as child of the body element. Your problem was that the nav element was sticking only within the header element, which is not what you wanted. */

#sticky-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#sticky-nav li {
  display: inline-block;
  padding: 0 0.3rem;
}

nav a:hover {
  color: black;
  font-weight: bold;
}

/* Hamburger navigation bar */
#hamburger-navigation-panel {
  display: none;
}

#hamburger-navigation-button {
  display: none;
}

/* Home */

.banner {
  background-image: url(./resources/images/garibaldi_lake_ck.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  border-top: hsl(0, 0%, 25%) solid 2.4px;
  border-bottom: hsl(0, 0%, 25%) solid 2.4px;
  padding-top: 150px;
  text-align: center;
  margin-top: 1rem;
}

.about {
  padding: 40px 40px;
}

.about h2 {
  text-align: center;
}

.about li {
  list-style: circle;
}

.about-button-container {
  display: flex;
  justify-content: center;
}

/* Dashboard */

main {
  text-align: center;
}

.dashboard-console {
  display: inline-block;
  border: 1px solid black;
  background-color: hsl(0, 0%, 95%);
  padding: 0 2em 1em 2em;
  margin: 1rem 2rem;
}

.dashboard-console .pillbox-button {
  font-size: 0.85rem;
} 

.dashboard-greeting {
  margin-top: 2rem;
}

/* All trips dropdown */

.trip-dropdown {
  margin: 1rem 0 1rem 0;
}

.trip-dropdown label {
  margin-right: 0.5rem;
}

#trip-select {
  margin: 0.5rem 0.5rem 0.75rem 0.5rem;
}

/* New trip form */

.new-trip-form {
  margin-bottom: 1rem;
  display: block;
  justify-content: center;
}

.inline-text {
  display: inline-block;
  margin-right: 1rem;
}

.new-trip-form input[type=text] {
  margin-left: 1rem;
  width: 200px;
}

.trip-question {
  align-items: baseline;
  display: flex;
}

.radio-button-label-div {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.trip-questions label {
  padding-left: 0.5em;
  line-height: 1.5;
}

.radio-buttons {
  margin: 0 0.4rem 0 1rem;
}

.or-paragraph {
  margin: 0.6rem 0 0 0;
}

/* Active trip console */

.active-trip-console {
  margin: 1rem 0;
  justify-content: space-around;
}

.active-trip-console p {
  margin: 0;
}

.trip-name-container, .list-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trip-name-container button, .list-name-container button {
  margin-left: 14px;
}

.edit-trip-name-container input[type=text] {
  font-size: 1.1rem;
  margin: 0.85rem 0 0.3rem 0;
  width: 230px;
}

.section-separator {
  text-align: center;
  margin: auto;
}

/* Modals */

.modal, .confirm-delete-modal {
  text-align: center;
}

.modal-header {
  margin: 0.75rem 0 1rem 0;
}

.confirm-delete-modal input[type=button] {
  margin: 0 0.2rem 0.75rem 0.2rem;
}

.modal-button {
  font-size: 0.8rem;
}

/* Lists */

#lists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-container {
  width: 400px;
  border: 1px solid black;
  padding: 15px;
  margin: 1rem 2rem 1rem 2rem;
  vertical-align: top;
  background-color: hsl(0, 0%, 95%);
  overflow: hidden;
}

button.delete-list-button {
  float: right;
  margin: 0;
}

.clear {
  clear: right;
  display: block;
}

.list-title {
  font-size: 1.5rem;
}

.edit-list-title-container input[type=text] {
  font-size: 1.1rem;
  margin: 1.1rem 0 0.8rem 0;
  width: 150px;
}

/* List Items */

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.item-display-name {
  margin: 0 10px;
  text-align: right;
  font-size: 0.9rem;
}

.delete-edit-buttons-container {
  display: flex;
  margin-top: 4px;
}

.listitem-and-checkbox-container {
  display: flex;
}

.checkbox {
  margin-top: 4px;
}

/* Edit pre-existing list item */

input.edit-item-textbox {
  width: 250px;
  font-size: 0.9rem;
}

/* Add items and undo row */

.add-undo-row {
  display: flex;
  justify-content: flex-end;
}

.text-input-form {
  display: flex;
}

input.user-input-text {
  width: 250px;
  font-size: 0.9rem;
}

/* Sign up and log in pages */

.user-credentials {
  max-width: 450px;
  border: 1px solid black;
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  vertical-align: top;
  background-color: hsl(0, 0%, 95%);
  text-align: center;
  margin: 1rem auto 2rem auto;
}

.progress-message {
  font-weight: bolder;
}

.user-credentials-form {
  width: 94%;
  margin: auto;
  padding-top: 10px;
}

.input-label-container {
  text-align: left;
  max-width: 274px;
  margin: 0 auto 1.8rem auto;
}

.password-button {
  height: 20px;
  width: 20px;
  background-size: 99%;
  background-repeat: no-repeat;
  flex-shrink: 0;
  border: none;
  display: inline;
  margin-left: -25px;
  vertical-align: middle;
}

.visible {
  background-image: url('./resources/icons/pixel-perfect/eye.svg');
}

.not-visible {
  background-image: url('./resources/icons/pixel-perfect/noeye.svg');
}

#password-input, .password-button {
  display: inline;
}

.user-credentials input[type=text], .user-credentials input[type=email], .user-credentials input[type=password] {
  padding: 5px 10px;
  width: 250px;
  height: 16px;
}

.user-credentials label {
  line-height: 1.75;
}

.validation-message {
  font-style: italic;
  margin: 0;
  font-size: 0.73rem;
}

.button-separator {
  margin: 0.8em 0.8em;
  display: inline-block;
}

.user-credentials hr {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
}

.logout {
  padding-bottom: 0.5rem;
}

/* Try as guest */
.try-as-guest {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
}

.try-as-guest p {
  text-align: left;
}

.try-as-guest-message {
  text-align: center !important;
}

/* My account */
.my-account {
  max-width: 450px;
  border: 1px solid black;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  background-color: hsl(0, 0%, 95%);
  margin: 1rem auto 2rem auto;
}

.account-details {
  text-align: center;
}

.change-password-button {
  font-size: 0.65rem;
}

.change-password-form {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.change-password-input-div {
  display: block;
  width: 80%;
  justify-content: space-between;
  align-items: baseline;
  margin: 1rem 0;
  position: relative;
}

.change-password-form input[type=password], .change-password-form input[type=text] {
  width: 200px;
  float: right;
}

.change-password-form label {
  font-size: 0.8rem;
}

.new-eye-password-button {
  position: absolute;
  height: 19px;
  width: 19px;
  background-size: 99%;
  background-repeat: no-repeat;
  border: none;
  align-self: center;
  right: 5px;
  bottom: 2px;
}

.my-account p {
  text-align: center;
}

.my-account-spinner-div {
  display: flex;
  justify-content: center;
}

/* Contact */

#form-container {
  max-width: 600px;
  border: 1px solid black;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  vertical-align: top;
  background-color: hsl(0, 0%, 95%);
  text-align: center;
  margin: 1rem auto 2rem auto;
}

#contact-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-row {
  width: 94%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

#name {
  width: 37%;
  margin-right: 3%;
}

#email {
  width: 50%;
}

#subject {
  width: 100%;
}

#message {
  width: 100%;
}

#contact-form input[type=text], #contact-form textarea {
  padding: 5px 10px;
}

#contact-form textarea {
  height: 100px;
  resize: vertical;
}

#submit-row {
  justify-content: flex-end;
}

/* #contact-form input[type=submit] {
  cursor: pointer;
  color: hsl(0, 0%, 30%);
  padding: 5px 20px;
  border: 1.5px solid hsl(0, 0%, 30%);
  border-radius: 20px;
  background-color: #f9f9f9;
  font-weight: bolder;
} */

/* Footer */

footer {
  width: 90%;
  text-align: center;
  height: 55px;
  margin: 0 5%;
  font-size: 0.75rem;
}

@media (max-width: 550px) {
  .dashboard-console {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem 0.4rem;
  }
  .trip-dropdown {
    margin: 0;
  }

  #trip-select {
    width: 80%;
  }

  .new-trip-form {
    display: flex;
    margin: 0;
    max-width: 400px;
    justify-content: space-around;
  }

  .trip-question {
    justify-content: center;
    flex-wrap: wrap;
  }

  .radio-button-label-div {
    flex-wrap: wrap;
  }

  .active-trip-console {
    margin-top: 0;
  }

  .list-container {
    margin: 1rem 0;
  }

  .my-account, .user-credentials {
    margin: 1rem 0.4rem;
  }

}
  
/* Mobile breakpoint */
@media (max-width: 480px) {
  /* Text styles and sizing */
  h1 {
    font-size: 3rem;
    margin: 0;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  /* Header and hamburger menu */
  header.website-name {
    display: flex;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    z-index: 99;
    background-color: #f9f9f9;
    align-items: flex-end;
    padding: 0.2em 0.45em;
  }

  #sticky-nav {
    display: none;
  }

  #hamburger-navigation-button {
    display: block;
    background-image: url('./resources/icons/pixel-perfect/035-hamburger.svg');
    width: 45px;
    height: 45px;
  }

  nav ul {
    padding: 20px;
    margin: 0;
    text-align: left;
  }

  #hamburger-navigation-panel {
    display: block;
    border: hsl(0, 0%, 25%) solid 2px;
    position: fixed;
    background-color: #f9f9f9;
    top: 62px;
    right: 0;
    z-index: 98;
  }
}